.main {
    width: 100%;
    overflow: hidden;
    font-family: var(--fontFamily);
}
.container {
    display: flex; 
    margin: 4rem 0 9rem;  
}
.leftSection {
    width: 50%;
    /* border: 1px solid blue; */
}
.aboutImg  {
    /* border: 1px solid brown; */
    margin: 0 8rem;
}
.about {
    position: relative;
    top: 8%;
    word-spacing: 2px;
    width: 90%;
    padding: 1rem 1rem;
    line-height: 1.5;
    /* border: 1px solid yellow; */
}
.info {
    font-size: 1.1rem;
}
.technologies ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 -3rem;
    justify-content: flex-start;
    list-style-type: none;
    /* border: 1px solid blue; */

}
.technologies>ul>li {
    padding: .5rem 1rem;
    /* border: 1px solid red; */
    background-color: black;
    margin: 1rem 1rem 0 0;
    border-radius: 8px;
}
.cv button {
    border: none;
    margin-top: 1.5rem;
    font-size: 1.2rem;
    border-radius: 8px;
    padding: .5rem 1rem;
    transition: 1s;
    cursor: pointer;
    background-color: var(--fontColor);

}
.cv button:hover {
    background-color: var(--white);
}
.cv button:active {
    transform: scale(.7)
}


.sectionDivider {
    display: inline;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(0.25turn, white, white, rgba(56,2,155,0));
    border-image-slice: 1;
}

/*********************** about info items **************************/
.aboutInfoItem {
    width: 85%;
    margin: 10rem auto 5rem;
    padding: 0 1rem;
    /* border: 1px solid red; */
}
.aboutInfoItem h1{
    color: var(--orange);
}
.header {
    font-size: 1.6rem;
    border-bottom: 1px solid rgb(198, 196, 196);
    display: inline-block;
  
}
  .header::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: rgb(112, 110, 110);
    transition: width .6s;
    margin-bottom: 2px;
  }
  
  .header:hover::after {
    width: 100%;
  }
  
  .halfBorder {
    position: relative;

  }
  .halfBorder::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 70%;
    border-bottom: 1px solid rgb(150, 150, 150);
    margin-bottom: 2px;

  }
.item {
    display: flex;
}
.item h2 {
    width: 25%;
    font-weight: 300;
    font-size: 1.3rem;
    /* border: 1px solid red; */
}
.items {
    display: flex;
}
.items>p {
    letter-spacing: 1px;
    font-size: 1.1rem;
    margin-left: 1.5rem;

}
.webTechnologies {
    /* border: 1px solid red; */
    margin: 1rem 1.5rem;
    text-align: center;
}
.icon {
    width: 2.5rem;
    height: 2.5rem;
    transition: 1s;
}
.icon:hover {
    transform: scale(1.5);
    transform: rotate(360deg);
    color: var(--orange);
}
.experienceContainer {
    margin: 5rem 0;
}

