@import url('https://fonts.googleapis.com/css2?family=Arvo:ital@1&display=swap');
.main {
    width: 100%;
    background-color: black;
    color: white;
    overflow: hidden;
}
.container {
    display: flex;   
}
.leftSection {
    width: 50%;
    /* border: 1px solid blue; */
}
.aboutImg  {
    /* border: 1px solid brown; */
    margin: 5rem 8rem;
}


.rightSection {
    /* border: 1px solid red; */
}
.about {
    position: relative;
    top: 15%;
    word-spacing: 2px;
    width: 90%;
    padding: 1rem 1rem;
    color: rgb(189, 188, 188);
    line-height: 1.5;
    /* border: 1px solid yellow; */
}
.info {
    font-size: 1.1rem;
}

.cv button {
    border: none;
    margin-top: 2rem;
    font-size: 1.2rem;
    border-radius: 8px;
    padding: .5rem 1rem;
}



.sectionDivider {
    display: inline;
    border-bottom: 6px solid transparent;
    border-image: linear-gradient(0.25turn, white, white, rgba(56,2,155,0));
    border-image-slice: 1;
}

/*********************** about info items **************************/

.aboutInfoItem {
    width: 85%;
    margin: 10rem auto;
    padding: 0 1rem;
    /* border: 1px solid red; */
}
.aboutInfoItem h1{
    color: rgb(255, 128, 0);
    /* color: rgb(246, 89, 22); */
    /* color: #ED8736; */
}
.header {
    font-size: 1.6rem;
    border-bottom: 3px solid red;
    display: inline-block;
  
}
  .header::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: red;
    transition: width .6s;
  }
  
  .header:hover::after {
    width: 100%;
  }
  
  .halfBorder {
    position: relative;
  }
  .halfBorder::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 70%;
    border-bottom: 2px solid red;
    
  }
.item {
    display: flex;
}
.item h2 {
    width: 25%;
    font-weight: 300;
    font-size: 1.3rem;
    /* border: 1px solid red; */
}
.items {
    display: flex;
}
.items>p {
    letter-spacing: 1px;
    font-size: 1.1rem;
}
.webTechnologies {
    /* border: 1px solid red; */
    margin: 1rem 1.5rem;
    text-align: center;
}
.icon {
    width: 2.5rem;
    height: 2.5rem;
    transition: 1s;
}
.icon:hover {
    transform: scale(1.5);
    transform: rotate(360deg);
    color: rgb(246, 79, 8);
}
.experienceContainer {
    margin: 5rem 0;
}

