html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --theme: #090909;
  --fontColor: #BCB4B4;
  --orange: #FA7539;
  --white: #ffffff;
  --fontFamily: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  --gray: rgb(27, 27, 27);
  --fontCursive: 'Sacramento', cursive;

}
@font-face {
  font-family: myFont;
  src: url('../fonts/Arvo-Italic.ttf');
}

