.navContainer input[type="checkbox"],
.navContainer .humburger,
.navContainer .brand{
  display: none;
}

.navbar {
  position: sticky;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  box-shadow: 10px 0 20px 10px var(--theme);
  border: 1px solid var(--theme);
  height: 8vh;
  background-color: var(--theme);
}
.brandName{
  position: absolute;
  right: 0;
  margin: .7rem 4rem; 
  font-family: var(--fontCursive);
  color: var(--orange);
  font-size: 1.1rem;
  cursor: pointer;
  animation: bounce 2s  infinite linear;
}

  @keyframes bounce {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-20px); }
    100% { transform: translateY(0); }
  } 
.brandName span::before {
  content: "<";
  /* font-family: -apple-system, Blin kMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}
.brandName span::after {
  content: "/>";
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */

}
.navList {
  display: flex;
  justify-content: space-evenly;
  width: 50%; 
}
.navList li {
  padding: .3rem 1rem 0 1rem;
  list-style-type: none;
  border-radius: 50px;
  font-size: 1rem;
  letter-spacing: 2px; 
  display:inline-block; 
  margin:0; 
}

.navList li:after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  margin: auto;                       
  background: var(--orange);
  transition: width .3s;
}
.navbar li:hover::after {  
  width: 100%;
}
.navbar li a {
  color: var(--fontColor);
  font-family: var(--fontCursive);
  color: var(--white);
}

/************************ responsive part *************************/

@media screen and (max-width:600px) {
  .navContainer input[type="checkbox"],
  .navContainer .humburger,
  .navContainer .brand{
    display: block;
  }
  .navbar li a {
    font-family: myFont !important;
  }
  .navContainer .brandName {
    display: none;
  }
  .navContainer {
    display: block;
    position: relative;
    height: 7vh;
    display: flex;
    /* border: 1px solid white; */
  }
  .navContainer input[type="checkbox"]{
    position: absolute;
    display: block;
    height: 3rem;
    width: 4rem;
    top: .5rem;
    z-index: 50;
    opacity: 0;
    cursor: pointer;
  }
  /* .brand {
    font-size: 1.1rem;
    color: var(--fontColor);
    font-family: var(--fontCursive);
    margin: auto;
    font-weight: bolder;
    padding-left: 70%;
  } */
  .navContainer .humburger {
    display: block;
    height: 1.8rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto 1rem;
  }
  .navContainer .humburger .bar {
    display: block;
    border-radius: 10px;
    height: 0.3rem;
    width: 2.4rem;
    background-color: var(--white);
  }
  .humburger .first{
    transform-origin: 0% 0%;
      transition: transform 0.3s ease-in-out;
  }
  .humburger .second{
    transition: transform 0.2s ease-in-out;
  }
  .humburger .third{
    transform-origin: 0% 100%;
    transition: transform 0.3s ease-in-out;
  }
  .navList {
    /* border: 1px solid yellow; */
    background-color: var(--theme);
    height: 50vh;
    width: 70%;
    transform: translate(-180%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    padding: 2rem 1rem;
    margin: 5rem -6rem;    
  }
  .navList li {
    margin-bottom: 3rem;
    font-size: 1.5rem;
  }

  .navbar li:hover::after {  
    width: 40%;
  }
  .navContainer input[type="checkbox"]:checked ~ .navList{
    transform: translateX(0);
  }
  .navContainer input[type="checkbox"]:checked ~ .humburger .first{
      transform: rotate(45deg);
  }
  .navContainer input[type="checkbox"]:checked ~ .humburger .second{
      transform: scaleY(0);
  }
  .navContainer input[type="checkbox"]:checked ~ .humburger .third{
      transform: rotate(-45deg);
  }

}
