.project {
    width: 100%;
    overflow: hidden;
    font-family: var(--fontFamily);
    background-color: var(--theme);
}

.projectIntroduction {
    display: flex;
    margin: 5rem 0 10rem;
}
.leftSection {
    width: 50%;
    padding: 0 5rem;
    /* border: 1px solid red; */
}

.rightSection {
    width: 50%;
    /* border: 1px solid red; */
    padding-right: 12rem;
    padding-top: 1rem;
}
.rightSection p {
    font-size: var(--fontSize_p);
}
.rightSection h1{
    margin-top: 5rem;
    text-align: center;
    font-size: 3rem;
}
.projectContainer {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 5rem auto;
}
.projectCard {
     margin: 0 1rem 4rem 1rem;
  /* border: 1px solid blue; */
    width: 30%;
    box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.152),
    2px 5px 10px rgb(0, 0, 0);
    padding: 1rem;
    transition: 300ms;
    border-radius: 1rem;
}
.projectCard:hover {
    transform: scale(1.05);
}
.projectCard img {
    border-radius: 1rem;
}
.projectDetails h3, .projectDetails h4 {
    text-align: center;
}
.projectDetails p{
    text-align: justify;
    font-size: 1rem;
    word-spacing: 2px;
}
.projectDetails ul{
    display: flex;
    justify-content: space-evenly;
    margin: 0 0 0 -3rem;
    list-style-type: none;
    /* border: 1px solid blue; */

}
.projectDetails>ul>li {
    padding: .5rem 0.3rem;
    border: 1px solid var(--gray);
    background-color: rgb(6, 6, 6);
    margin-left: .5rem;
    border-radius: 0.5rem;
    font-size: 0.875rem;

}

.github svg {
    transform: rotate(90deg);
}


/************************ responsive part *************************/
@media screen and (max-width:600px) {
    .project {
        background-color:  var(--mobileTheme);
    }
    .projectIntroduction {
        display: flex;
        flex-flow: column;
        margin: 0;
        /* border: 1px solid red; */
    }
    .leftSection {
        width: 100%;
        text-align: center;
        padding: 2rem;
        /* border: 1px solid blue; */
    }
    .rightSection {
        width: 100%;
        /* border: 1px solid yellow; */
        padding: 0 1.5rem;
    }
    .rightSection p {
        font-size: var(--fontSize_p);
    }
    .rightSection h1{
        margin-top: 0;
        text-align: center;
        font-size: 2rem;
    }
    .projectContainer {
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        margin: 5rem auto;
        padding: 1.5rem;
    }
    .projectCard {
         margin: 0 0 5rem 0;
        width: 97%;
        /* border: 1px solid white; */
    }
    .projectDetails h3 {
        font-size: 1.5rem;
        color: rgb(181, 181, 181);
    }
    .projectDetails p{
        font-size: var(--fontSize_p);
    }
    .projectDetails>ul>li {
        font-size: var(--fontSize_p);
        padding: .5rem .6rem;

    }
    .github svg {
        width: 6rem;
        height: 6rem;
    }
}