.socialMedia {
    position: relative;
    height: 92vh;
}
.cornerSocialMedia svg {
    transform: rotate(90deg);
    cursor: pointer;
}
.cornerSocialMedia .click {
    transform: rotate(-45deg);
    /* border: 1px solid red; */
    position: relative;
    z-index: 20;
    width: 5rem;
    bottom: 1.5rem;
    left: .7rem;
    font-size: 1.1rem;
    font-weight: bolder;
    color: black;
    cursor: pointer;

}
.cornerSocialMedia .click:hover {
    transform: rotate(-45deg) scale(1.1);
}
.media {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    position: absolute;
    bottom: 0;
    right: 0;
}
    
.div1 { grid-area: 3 / 1 / 4 / 2; }
.div2 { grid-area: 2 / 2 / 3 / 3; }
.div3 { grid-area: 1 / 3 / 2 / 4; }
.div4 { grid-area: 3 / 3 / 4 / 4; }

.media a {
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    height: 2.4rem;
    line-height: 3rem;
    margin: 2px 0;
    width: 2.4rem;
    text-align: center;

}
.icon {
    width: 1.4rem;
    height: 1.4rem;
}
.iconContainer {
    transition: 1s;
}
.iconContainer:hover {
    box-shadow: 2px 2px 2px white;
    
}
.iconContainer:active {
    transform: scale(.5);
}