
.historyContainer {
    margin: auto;
    max-width: 85rem;
}
.carousel ul {
    padding: 1rem;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
    margin-bottom: 5rem;
    box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.152),
    2px 5px 10px rgb(0, 0, 0);
}
.carousel ul:first-of-type {
    margin-left: 0;
}
.carousel ul::-webkit-scrollbar {
    display: none;
}
.carouselItem {
    border-radius: 3px;
    /* max-width: 12.25rem; */
    /* border: 1px solid white; */

}
.carouselItemTitle {
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 0.02em;
    display: flex;
    background: linear-gradient(
      121.57deg,
      #ffffff 10%,
      rgba(255, 255, 255, 0.66) 30.15%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0.5rem;
}
.carouselItemImg {
    margin-left: 1.3125rem;
    -webkit-mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0)
    );
    width: 100%;
}
.carouselItemText {
    font-size: 0.875rem;
    line-height: 1.375rem;
    letter-spacing: 0.02em;
    color: rgba(255, 255, 255, 0.75);
    padding-right: 1rem;
  /* font-family: var(--fontCursive); */

}





